Source: wmrack
Section: sound
Priority: optional
Maintainer: Sean E. Perry <shaleh@debian.org>
Standards-Version: 2.4.0.0

Package: wmrack
Architecture: any
Section: sound
Priority: optional
Depends: ${shlibs:Depends}
Suggests: wmaker
Description: A rack like program designed for Window Maker
 wmrack is both a CD-player and a mixer.  Its look is very
 customizable and uses very little screen realstate.  It's desinged
 with Window Maker in mind, but there's nothing in the program that
 makes it require a particular window manager.
