#!/usr/bin/make -f

#export DH_VERBOSE = 1

package=wmrack

build: stamp-build

stamp-build: Makefile
	dh_testdir
	$(MAKE)
	touch stamp-build

Makefile: 
	./configure --without-debug

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	-rm -f build Makefile XPM/standart.style cdctrl mixctrl wmrack \
	  XPM/Makefile config.log config.h config.cache config.status \
	  .depend
	dh_clean

binary-indep: build
#	dh_testdir -i
#	dh_testroot
#	dh_clean -i -k

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -m 755 -s wmrack debian/tmp/usr/X11R6/bin
	install -m 755 -s cdctrl debian/tmp/usr/X11R6/bin
	install -m 755 -s mixctrl debian/tmp/usr/X11R6/bin
	dh_installdocs
	dh_installmenu
	install -m 0644 wmrack.man debian/tmp/usr/X11R6/man/man1/wmrack.1x
	dh_undocumented mixctrl.1x cdctrl.1x
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean build

# Local variables:
# mode: makefile
# mode: font-lock
# End:

